* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: opensans, sans-serif;
    font-size: 22px;
    overflow-x: hidden;
}

h1 {
    padding: 20px 0;
}


.back {
    position: relative;
    background-image: url("tlo_1.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: -2;
    overflow: hidden;
}


.logo img {
    position: absolute;
    top: 2%;
    right: 50%;
    animation: logo-anim1 2s linear;
    z-index: -1;
    height: 50vw;
    width: 50vw;
}


.navigation {
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    z-index: 1;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}



.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.navigation ul li {
    list-style: none;
}

.navigation ul li a,
.media i {
    font-size: 24px;
}

.navigation ul li a {
    padding-top: 15px;
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 2px -1px 2px -1px #ffffff;
}

.navigation ul li:nth-of-type(4)>a {
    box-shadow: -2px -1px 2px -1px transparent;
}

.navigation ul li a:hover {
    padding-top: 10px;
    box-shadow: 0 4px 3px 2px #ffffff;
    border-radius: 10px;
}

.navigation ul li a:active {
    background-color: rgb(104, 0, 0);
}

.f-nav {
    z-index: 9999;
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
}

body,
form button,
.navigation ul li a {
    color: white;
}


main,
.navigation {
    margin: 0 auto;
}


main {

    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    line-height: 1.5;
}

.start,
.start-img,
.text {
    padding: 0 20px;
}

.start {
    font-size: 22px;
}

.start-img {
    margin-bottom: -9px;
}

img {
    max-width: 100%;
    height: auto;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding: 25px 50px;
}

.gallery-item {
    padding: 0 auto;
    flex: 1 0 24rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.gallery-image {
    display: block;
    height: auto;
    object-fit: cover;
    transition: transform 400ms ease-out;


}

.gallery-image:hover {
    transform: scale(1.15);
}


@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}


.prices,
.gallery-image,
.f-nav,
.box {
    width: 100%;
}

.prices {
    margin-bottom: 10px;
    padding: 20px;
}

table {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

table tr {
    display: flex;
    line-height: 2;
    box-shadow: 0 6px 5px -5px rgba(71, 8, 8, 0.5);
}

table td {
    flex-grow: 2;
    flex-basis: 80%;
}

table td:nth-last-child(1) {
    flex-basis: 15%;
    text-align: right;
    flex-grow: 2;
}

.box,
.gallery-image,
.prices,
.gallery-item,
.about,
.start {
    border-radius: 25px;
}

.box {
    text-align: center;
}


.contact,
form {
    flex-basis: 50%;
}

.contact {
    display: flex;
    padding: 20px;
    flex-grow: 2;
    justify-content: space-between;
    text-align: left;
}

.contact .adress {
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.media {
    margin-top: 20px;
}

.media i {
    padding-right: 10px;
}

form input,
form textarea,
form button,
.media i {
    margin-bottom: 10px;
}

form input,
form textarea,
form button {
    height: 35px;
    border-radius: 10px;
}

form textarea {
    height: 150px;
}



form button,
.foot,
.prices,
.start-img,
.start,
.about {
    margin-top: 10px;
}

form button {
    border: rgb(107, 107, 107) solid 2px;
    background-color: rgb(58, 43, 43);
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

form button:active {
    background-color: #ddd;
    color: #333;
}



.f-nav,
.prices,
.start,
.navigation {
    background: rgb(122, 2, 2);
    background: linear-gradient(0deg, rgba(122, 2, 2, 0.9363395225464191) 0%, rgba(176, 3, 3, 0.93) 50%, rgba(122, 2, 2, 1) 100%);
}

.foot,
.box,
.about {
    background: rgb(65, 41, 41);
    background: linear-gradient(0deg, rgba(65, 41, 41, 1) 0%, rgba(75, 42, 42, 1) 50%, rgba(65, 41, 41, 1) 100%);
}



.fa-angle-double-up {
    display: none;

}


.f-arrow {
    display: block;
    position: fixed;
    right: 0;
    bottom: 60px;
    font-size: 50px;
    animation: arrow-anim 2s 10s linear;
    cursor: pointer;
    color: rgb(219, 1, 1);
}

.f-arrow:hover {
    color: rgb(179, 1, 1);
}

.foot {
    text-align: center;
    line-height: 3;
    width: 100vw;


}

@media (max-width:1024px) {
    .back {
        background-position-x: 90%;
    }

    .logo img {

        top: 25vh;
        right: 55vw;

    }
}

@media (max-width:825px) {
    body {
        font-size: 18px;
    }

    .logo img {
        top: 10vh;
    }

    .gallery-item {
        box-shadow: 0 0 0 0;
    }

    .gallery-image {
        box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    }

    .f-arrow {
        right: 1%;
    }


}

@media (max-width:770px) {
    .back {
        background-position-x: 80%;
    }
}

@media (max-width:568px) {
    .navigation {
        width: 100vw;
        height: 60px;
    }

    .navigation ul li a {
        align-items: center;
        justify-items: center;
        width: 120px;
        font-size: 21px;

    }

    .navigation ul li a:hover {
        border-radius: 0;
        box-shadow: none;
    }

    .navigation ul li a:active {
        background-color: none;
    }

    .f-arrow {
        right: 2%;
    }

    .logo img {
        top: 10vh;
    }

    .contact {
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
    }

    form {
        padding: 25px auto;
        flex-basis: 100%;
    }

    @supports (display: grid) {
        .gallery {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

        }
    }

}

@media (max-width:1024px) and (orientation:portrait) {
    .back {
        background-position-x: 75%;
    }

    .logo img {

        top: 30vh;
        right: 55vw;

    }
}

@media (max-width:415px) and (orientation:portrait) {
    .navigation {
        height: 210px;
    }

    .navigation ul {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .navigation ul li a {
        box-shadow: 2px -1px 2px -1px transparent;
    }

    .navigation ul li a:hover {
        padding-top: 10px;
        box-shadow: 0 4px 3px 2px transparent;
        border-radius: 0;
    }

    .f-arrow {
        right: 2%;
    }

    .logo img {
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        animation: none;
        opacity: 1;
        height: auto;
    }


    .gallery-image:hover {
        transform: scale(1);
    }

    .back {
        height: 70vh;
        background-position-x: 50%;
    }

    .foot {
        line-height: 2;
    }


    @supports (display: grid) {
        .gallery {
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

        }
    }

}

@media (max-width:320px) and (orientation:portrait) {
    @supports (display: grid) {
        .gallery {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

        }
    }

    .back {
        height: 63vh;
        background-position-x: 50%;
    }

}

@keyframes arrow-anim {
    0% {
        bottom: 60px;
    }

    100% {
        bottom: 80px;
    }

}



@keyframes logo-anim1 {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}